<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <div class="card-container">
        <div class="card custom-card">
          <div class="card-image-container method-one" style="background: url('assets/images/method-two.jpg')">
          </div>
          <div class="card-body">
            <h5 class="card-title">Data Visualization 1</h5>
            <p class="card-text">Data Visualization with One HighChart</p>
            <a routerLink="/analyze/one" class="btn btn-primary">Next</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card-container">
        <div class="card custom-card">
          <div class="card-image-container method-one" style="background: url('assets/images/method-one.jpg')">
          </div>
          <div class="card-body">
            <h5 class="card-title">Data Visualizaion 2</h5>
            <p class="card-text">Data Visualization with Synchronized Two HighCharts</p>
            <a routerLink="/analyze/two" class="btn btn-primary">Next</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
